<% include partials/header %>



<div class="container">
	<header class="jumbotron">
		<div class="container">
			<h1>Welcome to Yelpcamp</h1>
			<p>View our handpicked campgrounds from all over the world</p>
			<p>
				<a class="btn btn-primary" href="/campgrounds/new">Add New Campgrounds</a>

			</p>
		</div>

	</header>

	<div class="row text-center" style="display: flex;flex-wrap: wrap;">
		<% campgrounds.forEach(function(campgrounds){ %>
		<div class="col-md-3 col-sm-6">
			<div class="thumbnail">
				<img src="<%= campgrounds.image %>">
				<div class="caption">
					<h4><%= campgrounds.name %></h4>

				</div>

			</div>
		</div>
		<% }); %>
	</div>
</div>
<% include partials/footer %>